.leftSide_container{
    width: 50vw;

    height: 100%;
}
.rightSide_container{
    width: 30vw;
    height: 100%;
    padding: 10px;

}

.main-container{
    display: flex;
    width: 80vw;
    margin: 0px auto;
}

@media (max-width: 960px) {
    .main-container{
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 20px;
    }

    .rightSide_container{
        width: 100%;
    }

    .leftSide_container{
        width: 100%;
    }
}