.box2{
   
    min-height: 200px;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    /* position: relative; */
   
  
}
.dp{
    width: 70px;
    height: 70px;
    border: 1px solid rgb(203, 203, 203);
    background-image: url("./assets/dp.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
    border-radius: 50%;
    margin-bottom: 10%;
}
.name{
    font-size: 20px;
    font-weight: bold;
}
.role{
    font-size: 13px;
    margin-bottom: 20px;
}
.bartext{
    margin-top: 10px;
    font-size: 14px;
    /* align-self: flex-start; */
    color: rgb(6, 135, 6);
    font-weight: bold;
}
.bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bar1{
    min-width: 80%;
    height: 4px;
    /* border: 1px solid grey; */
    background-color: rgb(217, 242, 223);
    border-radius: 2px;
}
.fill{
    height: 100%;
    width: 40%;
    background-color: rgb(24, 143, 0);
    border-radius: 2px;
    /* border: 1px solid black; */
}
.per{
    font-size: 12px;
}
